astroid==2.12.13 ; python_version >= "3.10" and python_version < "4.0"
autopep8==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
dill==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
isort==5.10.1 ; python_version >= "3.10" and python_version < "4.0"
lazy-object-proxy==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==2.5.4 ; python_version >= "3.10" and python_version < "4.0"
pycairo==1.23.0 ; python_version >= "3.10" and python_version < "4"
pycodestyle==2.10.0 ; python_version >= "3.10" and python_version < "4.0"
pygobject-stubs==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
pygobject==3.42.2 ; python_version >= "3.10" and python_version < "4"
pylint==2.15.8 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.11.6 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.14.1 ; python_version >= "3.10" and python_version < "4.0"
