colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14"
mslex==1.2.0 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "win32"
psutil==5.9.8 ; python_version >= "3.11" and python_version < "3.14"
pycairo==1.27.0 ; python_version >= "3.11" and python_version < "3.14"
pygobject-stubs==2.11.0 ; python_version >= "3.11" and python_version < "3.14"
pygobject==3.50.0 ; python_version >= "3.11" and python_version < "3.14"
ruff==0.6.7 ; python_version >= "3.11" and python_version < "3.14"
taskipy==1.13.0 ; python_version >= "3.11" and python_version < "3.14"
tomli==2.0.1 ; python_version >= "3.11" and python_version < "3.14"
