astroid==2.15.8 ; python_version >= "3.9" and python_version < "3.12"
autopep8==2.0.4 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12" and sys_platform == "win32"
dill==0.3.7 ; python_version >= "3.9" and python_version < "3.12"
isort==5.12.0 ; python_version >= "3.9" and python_version < "3.12"
lazy-object-proxy==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "3.12"
platformdirs==3.11.0 ; python_version >= "3.9" and python_version < "3.12"
pycairo==1.25.0 ; python_version >= "3.9" and python_version < "3.12"
pycodestyle==2.11.0 ; python_version >= "3.9" and python_version < "3.12"
pygobject-stubs==2.9.0 ; python_version >= "3.9" and python_version < "3.12"
pygobject==3.46.0 ; python_version >= "3.9" and python_version < "3.12"
pylint==2.17.7 ; python_version >= "3.9" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
tomlkit==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.8.0 ; python_version >= "3.9" and python_version < "3.11"
wrapt==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
