/* Janela */
window {
    background-color: #ffddb0;
}

/* Barra de titulo. */
.titlebar {
    /* Cor de fundo */
    background: #ffc77d;
    /* Cor da fonte */
    color: #ee6002;
}

/* Cor da barra quando a janela perde o foco */
.titlebar:backdrop {
    background: #e98df5;
    color: white;
}

/* Botão */
button {
    background-image: -gtk-gradient (radial, center center, 0, center center, 1, from(yellow), to(green));
}

/* Quando o mouse passa sobre o botão */
button:hover {
    background: #1565C0;
}

/* Quando o botão é clicado */
button:active {
    background: #0D47A1;
}