[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=0.1.0
X-AppImage-Name=CodigoNinja
Name=CodigoNinja
Exec=usr/bin/python3
Icon=icon
Type=Application
Terminal=false
Categories=Utility;
Comment=
